/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  width: 1000px;
  margin: 0 auto;
}

body {
  width: 100%;
}

#body-content {
  border-top: 10px solid #989898;
}

h1 {
  float: left;
}

h1 a {
  text-decoration: none;
}

h1 a:visited {
  color: #f90;
}

.session-control {
  float: right;
}

#body-content {
  clear: both;
}
