/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  width: 1000px;
  margin: 0 auto;
}

body {
  width: 100%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#body-content {
  border-top: 10px solid #989898;
}

h1 {
  float: left;
}

h1 a {
  text-decoration: none;
}

h1 a:visited {
  color: #f90;
}

.session-control {
  float: right;
}

#body-content {
  clear: both;
}

.user_box {
  display: inline-block;
  width: 300px;
  height: 200px;
}

.count-box {
  display: inline-block;
  width: 45px;
  height: 30px;
  font-size: 0.9em;
  color: gray;
}

.question-body {
  margin: 0 auto;
  width: 50%;
}

.vote-box {
  float: left;
}

.small {
  font-size: 0.8em;
}

.question-comment-container {
  margin: 0 auto;
  width: 50%;
  padding: 15px;
}

a {
  color: #07c;
  text-decoration: none;
}

.question-info {
  font-weight: 400;
}

.nav_stuff {
  display: block;
}

.form_field {
  padding: 10px;
}


input {
  min-width: 200px;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

input[type="textarea"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="textarea"]:focus,
input[type="textarea"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

input[type="password"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="password"]:focus,
input[type="password"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
